/* เอกสาร */
/* ชื่อ */
.text {
  color: rgb(31, 22, 162);
  font-family: "TH Sarabun PSK", sans-serif;
}
.name {
  margin-top: 392px;
}
.nameTh {
  margin-left: 100px;
}
.nameEng {
  margin-left: 60px;
  margin-top: 9px;
}
/* วันเกิด */
.birth-day {
  margin-top: 454px;
  margin-right: 570px;
}
.month-date {
  margin-top: 454px;
  margin-right: 350px;
}
.year-date {
  margin-top: 454px;
  margin-right: 40px;
}
/* เบอร์โทร */
.phone-number {
  margin-top: 454px;
  margin-left: 270px;
}
.corp {
  margin-top: 486px;
  margin-left: 530px;
  font-size: small;
}
.student-id {
  margin-top: 513px;
  margin-right: 420px;
}
.section {
  margin-top: 513px;
  margin-right: 140px;
}
.major {
  margin-top: 513px;
  margin-left: 200px;
}
.before-join {
  margin-top: 541px;
  margin-right: 190px;
}
.end-from {
  margin-top: 541px;
  margin-left: 200px;
}
.end-year {
  margin-top: 541px;
  margin-left: 600px;
}
.want-to-end {
  margin-top: 568px;
  margin-left: 150px;
}
.year-end {
  margin-top: 568px;
  margin-left: 470px;
}
.confirm-name {
  margin-top: 680px;
  margin-left: 200px;
}
.sub-confirm-name {
  margin-top: 708px;
  margin-left: 200px;
}
/* คู่คำร้อง */
.full-name {
  margin-top: 78px;
  margin-left: 40px;
}
.student-id-2 {
  margin-top: 105px;
  margin-right: 450px;
}
.section-2 {
  margin-top: 105px;
  margin-right: 130px;
}
.corps-2 {
  margin-top: 105px;
  margin-left: 180px;
}
.afterendcontact {
  margin-top: 130px;
  margin-right: 90px;
}
.homenumber {
  margin-top: 157px;
  margin-right: 540px;
}
.road {
  margin-top: 157px;
  margin-right: 300px;
}
.alley {
  margin-top: 157px;
  margin-left: 210px;
}
.district {
  margin-top: 183px;
  margin-right: 500px;
}
.subdistrict {
  margin-top: 183px;
  margin-left: 60px;
}
.province{
  margin-top: 207px;
  margin-right: 500px;
}
.zipcode{
  margin-top: 207px;
margin-left: 30px;
}
.phone-2{
  margin-top: 207px;
  margin-left: 400px;
}